{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tela de Login</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'core/css/telalogin.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>
  <div class="container">
    <div class="login-box">
      <div class="logo-area">
        <img src="{% static 'core/img/logo_branca.png' %}" alt="Logo" class="logo"/>
        <h1 class="SIGE">SIGE</h1>
        <p class="subtitulo">Sua jornada começa aqui</p>
      </div>

      <div class="form-area">
        <h2>Login</h2>

        <form method="post">
          {% csrf_token %}
          
          {% if form.errors %}
            <p style="color:red; margin-bottom: 10px;">E-mail ou senha inválidos</p>
          {% endif %}

          <div class="input-container">
            {{ form.email }}
            <i class="fas fa-envelope icon"></i>
          </div>

          <div class="input-container">
            {{ form.password }}
            <i class="fas fa-lock icon"></i>
          </div>

          <button type="submit">ENTRAR</button>
          <a href="{% url 'password_reset' %}" class="forgot-link">Esqueceu sua senha?</a>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
